.body{
  background-color: #00bcd4;
  font-family: 'Montserrat', sans-serif;
}

.navbar{
  background-color: #00bcd4;
}
.head_link{
  font-size: 2rem;
  margin-right: 50px;
}

.photos{
    background-color: #00bcd4;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.subheading{
  text-align: center;
  padding: 60px;
}


.impact_list{
  text-align: center;
  font-family: 'Open Sans', sans-serif;

}

.impact_text{
  padding: 7% 10% 7% 15%;
  font-family: 'Open Sans';
  text-align: left;
}

#contact_us{
    background-color: #00bcd4;
}

.email:hover{
  text-decoration: none;
}

.address_contact{
  padding:0 15%;
  line-height: 150%;
}

.email{
  color: #0f3460;
}

@media (max-width: 1000px){
  .impact_text{
    padding: 7% 2% 7%;
    font-size: 1.7rem;
    font-family: 'Open Sans', sans-serif;
  }
  .address_contact{
    padding:0 15%;
    line-height: 150%;
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
  }

}
