.body{
  background-color: #bfdcae;
}

.navbar{
  background-color: #68b0ab;
}
.head_link{
  font-size: 2rem;
  margin-right: 50px;
}

.photos{
    background-color: #8fc0a9;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.subheading{
  text-align: center;
  padding: 60px;
}


.impact_list{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.impact_text{
  padding: 7% 5% 7%;
  font-family: 'Open Sans';
}

#contact_us{
    background-color: #bfdcae;
}

.email:hover{
  text-decoration: none;
}

.address_contact{
  padding:0 15%;
  line-height: 150%;
}

@media (max-width: 1000px){
  .impact_text{
    padding: 7% 2% 7%;
    font-size: 1.7rem;
    font-family: 'Open Sans', sans-serif;
  }
  .address_contact{
    padding:0 15%;
    line-height: 150%;
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
  }

}
